<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GL_Beautifier 1.0</title>
  <meta name="description" content="Tool designed for ML Rule Writers">
  <meta name="author" content="Kamil Wesolowski @kawesolo">
</head>
<body>

<form action="/add_list/" method="POST">
<table>
    <caption><h3>GL_Beautifier 1.0</h3></caption>
<tbody>
<tr>
<td><h4>Add GLs from each product bank:</h4><br><textarea name="gls" rows="30" cols="50"></textarea>
<br><center><input type="submit" value="Add GLs"><br><br>
    For further ideas or encountered bugs contact me at<br>
        <a href="mailto:kawesolo@amazon.pl" target="_blank">kawesolo@amazon.pl</a>
    </center></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><h4>GLs in your ML model should look like:</h4>
{% for gl in content %}
{{gl}}<br>
{% endfor %}
</td>
</tr>
</tbody>
</table>
</body>
</html>